*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
}

body {
  background-color: aliceblue;
}

.commentWrapper {
  width: min(95%, 1000px);
  margin: auto;

  section {
    background-color: white;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;

    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        aspect-ratio: 1/1;
        padding: 10px;
        width: 100%;
        background: rgb(230, 230, 240);
        border: none;
        cursor: pointer;
      }

      span {
        background: rgb(230, 230, 240);
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        color: rgba(58, 49, 223, 0.3);
      }
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 20px;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .userData {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .buttonWrapper {
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            padding: 20px;
            font-size: 1.1rem;
            font-weight: bold;
            color: rgb(74, 74, 74);
            cursor: pointer;

            box-shadow: 
              5px 5px rgba(0, 0, 0, 0.1),
              -5px -5px 5px rgba(139, 120, 247, 0.1);
            border-radius: 5px;

            img {
              width: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.replies {
  
}
